<%= render 'otherNav' %>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../dist/material-cards.css">
    <style type="text/css">

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            background-color: #ECEFF1;
            color: #37474F;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }

        h1, h2, h3 {
            font-weight: 200;
        }

    </style>
</head>
<body>
<section class="container">
    <div class="page-header">
        <h1><br>
            <small>Meet The Executive Team</small></h1>
    </div>
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            
            
            <!--Francesco Gisonni-->
            
            <article class="material-card Red">
                <h2>
                    <span>Francesco Gisonni</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Vice-Chair
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" 
                        src="http://images.fromupnorth.com/143/53a2c3d5aa329.jpg">
                    </div>
                    <div class="mc-description">
                        He has appeared in more than 100 films and television shows,
                        including the death star, and finds your lack of faith disturbing
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        
        <!--Shadid-->
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Purple">
                <h2>
                    <span>Shadid Haque</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Web Developer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" 
                        src="http://images.fromupnorth.com/423/53a2c373ef47b.jpg">
                    </div>
                    <div class="mc-description">
                        "Look, I ain't in this for your revolution, 
                         and I'm not in it for you, princess. I expect to be well paid. I'm in it for the money”
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        
        <!--Jonathan-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep-Purple">
                <h2>
                    <span>Jonathan Anderson</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Project Coordinator
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" 
                        src="http://images.fromupnorth.com/032/53a2c39c77530.jpg">
                    </div>
                    <div class="mc-description">
                        The nabu shall not be pleased with it but I'm not here to negotiate
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        
        <!--RUdy-->
        
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Indigo">
                <h2>
                    <span>Rudy Lang</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Chair
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" 
                        src="http://images.fromupnorth.com/159/53a2c3cfb6877.jpg">
                    </div>
                    <div class="mc-description">
                         I felt a great disturbance in the Force, 
                         as if millions of voices suddenly cried out in terror 
                         and were suddenly silenced. I fear something terrible has happened...
                         Use the Force, Luke.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        
        
        <!--Adi-->
        
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Cyan">
                <h2>
                    <span>Aditya Geed</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Event Co-ordinator
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" 
                        src="http://images.fromupnorth.com/471/53a2c4822bbde.jpg">
                    </div>
                    <div class="mc-description">
                        Blip Blip clip Blip...I know R2D2 our events are just awesome.isn't that right
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        
        <!---->
        
        
        <!--Lowel-->
        
        
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Teal">
                <h2>
                    <span>Lowell Bower</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Grad/Prof Student Liaison
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" 
                        src="http://images.fromupnorth.com/302/53a2c382d74c0.jpg">
                    </div>
                    <div class="mc-description">
                        Your focus determines your reality.Meet the expert navigator... 
                       He was part of a core group of Rebels (aka grad students) 
                        who restored freedom to the galaxy and research fields
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        
        
        
    </div>
</section>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script>
</body>
</html>